
.media-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem;
  background-color: #0f1015;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.media-player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  background-color: #1c1f24;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  
}

/* Media input */
.media-player-file-input{
  padding: 10px;
  margin-bottom: 30px;
  width: 90%;
  font-size: 1rem;
  border-radius: 7px;
  border: 2px solid #4a90e2;
  color: white;
  background-color: #1c1f2475;
  cursor: pointer;
  transition: all 0.3s ease;
}

.media-player-file-input:hover {
  transform: translateY(-5px);
  background-color: #adb5bd65;
}

.media-player-loading,
.media-player-error {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  animation: fadeIn 0.5s ease-out;
}

.media-player-error {
  color: #ff4d4d;
}

.media-player-video {
  margin: 10px;
  background-color: #1d1a1a57; 
  justify-content: center;
  max-width: 100%;
  max-height: 500px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.media-player-video:hover {
  transform: scale(1.02);
}

.videoCenter{
  display: flex;
  justify-content: center;
}

.media-player-control-buttons {
    display: flex;
  justify-content: center;
  align-items: center; 
  gap: 1rem;
  margin: 1rem 0;
}

.media-player-control-buttons button {
    width: 80px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(51, 172, 248); 
    transition: all 0.3s ease;
}

.media-player-control-buttons button.on {
    background-color: rgb(251, 129, 81);
}

.media-player-control-buttons button:hover {
  transform: translateY(-2px);
}

.media-player-control-buttons button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}



/* Sliders styling */
.media-player-sliders {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.media-player-seek-slider,
.media-player-volume-slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: linear-gradient(to right, #4a90e2, #3d7ac0);
  opacity: 0.8;
  transition: opacity 0.2s;
  border-radius: 20px;
}

.media-player-seek-slider::-webkit-slider-thumb,
.media-player-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 40%;
  cursor: pointer;
}

.media-player-seek-slider:hover,
.media-player-volume-slider:hover {
  opacity: 1;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.videoInfoDisplay {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  color: #adb5bd;
  margin-top: 0.5rem;
}

.videoInfoDisplay p {
  margin: 0;
}

.selectButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.selectButton select{
  background-color: #4a90e2;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.selectButton select:hover {
  transform: translateY(-2px);
  background-color: #3d7ac0;
}

/*screenshot*/
.placeSbutton{
  display: flex;
  justify-content: right;
}

.screenshotdiv{
  position: relative;
}

.screenshotButton{
  background-color: #b7e24aab;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.screenshotButton:hover{
  transform: translateY(-2px);
  background-color: #b7e24a;
}

.downloadButton{
  padding: 5px;
  background-color: rgba(218, 241, 87, 0.423);
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.downloadButton:hover{
  background-color: rgba(218, 241, 87, 0.623);
  transform: translateY(-2px);
}
.image{
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.image:hover{
  transform: scale(1.02)
}

/*test*/

